@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background-color: #000000;
    color: #ffffff;
    font-family: Inter, sans-serif;
    font-weight: 200;
    font-size: 15px;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    box-sizing: border-box;
    transition: transform 0.3s ease;
    z-index: 10;
    overflow: hidden;
}

.navbar::before {
    content: "";
    position: absolute;
    inset: 0;
    transition: opacity 0.3s ease;;
    background: linear-gradient(
        to bottom,
        rgb(0, 0, 0),
        rgba(0, 0, 0, 0)
    );
    opacity: 1;
    pointer-events: none;
}

nav a img {
    width: 100px;
    display: flex;
    align-items: center;
    width: 103px;
    height: auto;
}

.navbar.scrolled::before {
    opacity: 0.5;
}

.navbar.hidden {
    transform: translateY(-100%);
}

.menu {
    display: flex;
    gap: 20px;
}

.menu a {
    text-decoration: none;
    font-size: 1rem;
    color: #ffffff;
    position: relative;
}

.menu a::after {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0;
    height: 1px;
    background-color: #ffffff;
    transition: width 0.3s ease;
}

.menu a:hover::after {
    width: 100%;
}

.box {
    margin: 20px auto;
    padding: 20px;
    max-width: 1000px;
    text-align: justify;
    line-height: 1.6;
    font-size: 1rem;
}

.header {
    position: relative;
    background-image: url('https://static1.srcdn.com/wordpress/wp-content/uploads/2023/02/kerbal-space-program-2-2.jpg');
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    overflow-y: hidden;
}

.header .text {
    position: absolute;
    bottom: 10px;
    left: 50px;
    color: white;
    font-size: 3rem;
    opacity: 0;
    animation: fadeUp 2.5s ease forwards;
}

@keyframes fadeUp {
    0% {
        opacity: 0;
        transform: translateZ(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fillAnimation {
                0% {
                    height: 0%;
                }
                100% {
                    height: 100%;
                }
            }
  
button {
    position: relative;
    overflow: hidden;
    background-color: transparent;
}

.button {
    color: white;
    background-color: transparent;
    border: 1px solid white;
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    padding: 20px;
    max-width: 800px;
}

.fill-button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    background-color: transparent;
    border: 2px solid rgb(255, 255, 255);
    overflow: hidden;
    cursor: pointer;
    transition: color 0.3s ease;
}
  
.fill-button::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: white;
    z-index: -1;
    transition: height 0.3s ease;
}
  
.fill-button:hover::before,
.fill-button:focus::before {
    height: 100%;
}
  
.fill-button:hover,
.fill-button:focus {
    color: black;
}
  
table {
    border-collapse: collapse;
    margin: 20px auto;
    width: 60%;
    max-width: 600px;
    text-align: center;
}
th, td {
    border: 1px solid white;
    padding: 10px;
}

canvas {
    width: 700px;
    height: 700px;
    display: block;
    margin: 10px auto;
    max-width: 100%;
    max-height: 100%;
}