---
import '../styles/global.css'
import LASULogo from '../images/LASU_logo.png'
---
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LASU | Inicio</title>
    </head>
    <body>
        <header class="header">
            <nav class="navbar" style="background-color: transparent;" id="navbar">
                <img src={LASULogo.src} alt="LASU Logo">
                <div class="menu">
                    <a href="https://lasu-aerospace.github.io/LRL/">LRL</a>
                    <a href="https://github.com/lasu-aerospace">GitHub</a>
                    <a href="launches.html">Lanzamientos</a>
                    <a href="about.html">Sobre Nosotros</a>
                    <a href="contact.html">Contacto</a>
                </div>
            </nav>
            <div class="text fade-up">
                <p style="font-size:40px;font-weight: 700;left: 50px">TLV1</p>
                <a href="tlv-1.html"><button style="top: -50px" class="button fill-button" type="button">Más información</button></a>
            </div>
        </header>
    </body>
</html>
