---
import '../styles/global.css'
import GlobalScripts from '../components/GlobalScripts.astro';
import LASULogo from '../images/LASU_logo.png'
import invertedImage from '../images/inverted_image.png'
---
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>LASU | Próximo lanzamiento</title>
    </head>
    <body>
        <GlobalScripts />
        <header>
            <nav class="navbar" id="navbar">
                <a href="index.html">
                    <img src={LASULogo.src} alt="LASU Logo">
                </a>
                <div class="menu">
                    <a href="https://lasu-aerospace.github.io/LRL/">LRL</a>
                    <a href="https://github.com/lasu-aerospace">GitHub</a>
                    <a href="launches.html">Lanzamientos</a>
                    <a href="about.html">Sobre Nosotros</a>
                    <a href="contact.html">Contacto</a>
                </div>
            </nav>
        </header>

        <div>
            <p class="box" style="margin-top: 60px">TLV-1 (Test Launch Vehicle 1) es un prototipo de lanzamiento liviano, propulsado por pólvora, pero incapaz de poner cualquier carga en órbita.<br><br>El principal objetivo de la misión radica en procesar datos y enviar telemetría de aviónica para 
                próximos prototipos, ya que todos poseerán la misma computadora de vuelo (Alnair Flight Computer Rev 1, abreviado como <code>AFCR1</code>) que los guiará durante el lanzamiento, destacada por su simplicidad y efectividad.<br><br>
                Se evaluarán las capacidades aerodinámicas, físicas, químicas, mecánicas y electrónicas para integrar una tecnología mejor en vista de los siguientes lanzamientos.<br><br>
                Aunque no esté disponible una fecha de lanzamiento oficial, estimamos oportunidades potenciales para el último cuartil de 2026.</p>
        </div>
    </body>
</html>
